<div id="loading-screen">

    <div class="loader">

        <div class="heart-wrapper">

            <div class="heart">
                ❤️
            </div>

        </div>

        <h1 class="loading-title">
            {{ settings.loading_text }}
        </h1>

        <div class="loading-bar">

            <div class="loading-progress"></div>

        </div>

        <p class="loading-subtitle">

            Someone created something
            special just for you...

        </p>

    </div>

</div>